@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    text-align: center;
    gap: 10px;
    color: white;
}

#temp{
    font-size: 4rem;
}

#description{
    font-size: 1.1rem;
}


 
#pronostic{
    text-align: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2) ;
    border-radius: 20px;
    padding: 5px;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px white solid;
    padding: 5px;
}

#otherStats{
    display: grid;
    grid-template-areas: 
    "feelsLike uv"
    "wind wind"
    "Sunset precip"
    "visibility Humidity"
    "pressure snow";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
}

#wind{
    background-color: aqua;
    grid-column: 1/3;
}

body{
    background-image: url(https://img.freepik.com/foto-gratis/lluvia-negro-abstracto-oscuro-poder_1127-2380.jpg?uid=R149661850&ga=GA1.1.328621596.1730735166&semt=ais_hybrid);
    background-size: cover;
}