*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: black;
}

h1{
    color: white;
}

#header, #cityList {
    letter-spacing: 2px;
    margin: 10px;
    width: 95%;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin-top: 100px;
    font-size: 3rem;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#input{
    margin-top: 15px;
    width: 95%;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    height: 40px;
    font-size: 1.3rem;
    text-align: center;
    color:white;
    width: 350px;
}

#input::placeholder{
    color: white;
}

@media  (min-width:1439px){
     #title{
        display: none;
     } 

     #navBar{
        justify-content: center;
        position: relative;
        bottom: 35px;
        
     }

     #mainPc{
        position: relative;
        bottom: 100px;
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 350px 680px;
        justify-items:center;
    }

    #main{
        grid-row: 1/2;
        grid-column: 2/4;
    }

    #pronostic{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 450px;
        height: 640px;
         grid-row: 2/3;
        grid-column: 1/3;
    }

     #otherStats {
        grid-row: 2/3;
        grid-column: 3/5; 
        display: grid;
        grid-template-columns: 270px 270px;
        grid-template-rows: 130px 130px 130px 130px 130px;
     }



    .cityNot{
        display: none;
        
     }
     
     #input{
        width: 350px;
        position:absolute;
        right: 10px;
        top:2px;
        
     }

     .findBtn{
        position: absolute;
        right:10px ;
        top:50px
     }



     
}
