.pn{
    background-image: url(https://st.depositphotos.com/1779390/1314/i/450/depositphotos_13145673-stock-photo-blue-sky-with-clouds-and.jpg);
    background-size: cover;
}
 .clouds {
    background-image: url(https://cdn.pixabay.com/photo/2017/04/19/09/07/air-2241569_1280.jpg);
    background-size: cover;
 }

 .claro{
    background-image: url(https://st2.depositphotos.com/1203257/6211/i/450/depositphotos_62116665-stock-photo-sunny-blue-sky-background.jpg);
    background-size: cover;
 }

 .lluvia{
   background-image: url(https://i.ytimg.com/vi/cWRSMyO0XKo/maxresdefault.jpg);
   background-size:auto;
 }

 .pn, .clouds, .claro, .lluvia{
    animation: moverFondo 150s linear infinite ;
 }

 @keyframes moverFondo{
    0%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0% 0;
    }
 }